<a href="https://colab.research.google.com/github/jumbokh/cgust-class/blob/main/python/codes/final_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num=int(input())
print("%o"%(num))
print("%x"%(num))
print("%s"%(bin(num)))

100
144
64
0b1100100

In [2]:
name=input()
day1=input()
day2=input()
day3=input()
day4=input()
day5=input()
day6=input()
day7=input()

print("{0:<8}{1:^5}{2:^5}{3:^5}{4:^5}{5:^5}{6:^5}{7:^5}".\
     format(name,day1,day2,day3,day4,day5,day6,day7))

Alice
500
450
380
400
520
480
500
Alice    500  450  380  400  520  480  500

In [3]:
grade1=int(input())
grade2=int(input())
lastGrade=int(input())
if(grade1>=60 or grade2>=60) and lastGrade>=60:
    print("PASS")
else:
    print("FAIL")

90
80
72
PASS

In [4]:
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a//b)
print(a%b)

5
9
14
-4
45
1953125
0
5

In [5]:
a=int(input())
b=int(input())
print(a&b)
print(a|b)
print(a^b)

5
9
1
13
12

In [6]:
C=float(input())
F=(9/5)*C+32
print(F)

38
100.4

In [7]:
a=int(input())
b=int(input())
print(a==b)
print(a!=b)
print(a>b)
print(a<b)

5
9
False
True
False
True

In [8]:
score1=int(input())
score2=int(input())
score3=int(input())

scoreTotal=score1+score2+score3
average=round(scoreTotal / 3, 1)

if average>=90:
    grade="A"
elif 80<=average<90:
    grade="B"
elif 70<=average<80:
    grade="C"
elif 60<=average<70:
    grade="D"
else:
    grade="F"

print(grade)

90
80
72
B

In [9]:
year=int(input())
if(year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print("leap year")
else:
  print("common year")

2023
common year

In [10]:
r = int(input())
c = int(input())
for x in range(1, r+1):
    for y in range(1, c):
        print(x * y, end=" ")
    print(x * c)

5
20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60
4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [11]:
a=int(input())
b=int(input())
sum=0
for num in range(a,b+1):
    if num % 5==0:
        sum+=num
print(sum)

5
20
50