In [1]:
2*3+2

8

In [2]:
result=2*3+2
result

8

In [3]:
2**100

1267650600228229401496703205376

In [4]:
x=1
x=1.5
y=20
z=10

In [5]:
x=1
y=0
x and y

0

In [6]:
x or y

1

In [7]:
not x

False

In [8]:
bool('Hello')

True

In [9]:
bool('')

False

In [10]:
bool(0)

False

In [11]:
bool([])

False

In [12]:
bool()

False

In [13]:
num=10
bin(num)

'0b1010'

In [14]:
oct(num)

'0o12'

In [15]:
hex(num)

'0xa'

In [16]:
0b1010

10

In [17]:
0o12

10

In [18]:
0xa

10

In [19]:
'Do not worry.'

'Do not worry.'

In [20]:
"Do not worry."

'Do not worry.'

In [21]:
'Do "not" worry.'

'Do "not" worry.'

In [22]:
'Don\'t worry'

"Don't worry"

In [23]:
"Do \"not\" worry."

'Do "not" worry.'

In [24]:
str = 'Do not worry.'
str

'Do not worry.'

In [25]:
str='Do not worry. \n About tomorrow.'
str

'Do not worry. \n About tomorrow.'

In [26]:
print(str)

Do not worry.
 About tomorrow.

In [27]:
path='c:\python'
path

'c:\\python'

In [28]:
print(path)

c:\python

In [29]:
path='c:\python\name'
print(path)

c:\python
ame

In [30]:
path=r'c:\python\name'
print(path)

c:\python\name

In [31]:
x=' Hello! '
y=' Python '
x+y*3

' Hello!  Python  Python  Python '

In [32]:
(x+y)*3

' Hello!  Python  Hello!  Python  Hello!  Python '

In [33]:
print((x+y)*3)

 Hello!  Python  Hello!  Python  Hello!  Python

In [34]:
len(x)

8

In [35]:
x[-2]

'!'

In [36]:
y[0:2]

' P'

In [37]:
y[0:3]

' Py'

In [38]:
x==y

False

In [39]:
x!=y

True

In [40]:
s='hello python'
s.capitalize()

'Hello python'

In [41]:
s.upper()

'HELLO PYTHON'

In [42]:
s.lower()

'hello python'

In [43]:
s.title()

'Hello Python'

In [44]:
s.swapcase()

'HELLO PYTHON'

In [45]:
s.replace('hello','hi')

'hi python'

In [46]:
s.find('py')

6

In [47]:
t=s.replace('hello','hi!')
t

'hi! python'

In [48]:
t.find("py")

4

In [49]:
s.count('o')

2

In [50]:
s.startswith("HHH")

False

In [51]:
s.startswith('h',0)

True

In [52]:
s.endswith('n')

True

In [53]:
s.split()

['hello', 'python']

In [54]:
s.split('p')

['hello ', 'ython']

In [55]:
symbol='/'
str=('2016','04','14')
print(symbol.join(str))

2016/04/14

In [56]:
s.isidentifier()

False

In [57]:
t='hello'
t.isidentifier()

True

In [58]:
u='help'
u.isidentifier()

True

In [59]:
'show123'.isalnum(), 'show'.isalnum(), '123'.isalnum()

(True, True, True)

In [60]:
'&abc123'.isalnum(), ''.isalnum(), '%---%'.isalnum()

(False, False, False)

In [61]:
'show'.isalpha(), '123'.isalpha(), 'show123'.isalpha()

(True, False, False)

In [62]:
'show'.isdigit(), '123'.isdigit(), 'show123'.isdigit()

(False, True, False)

In [63]:
'show'.isupper(), 'Show'.isupper(), 'SHOW'.isupper()

(False, False, True)

In [64]:
'show'.islower(), 'Show'.islower(), 'SHOW'.islower()

(True, False, False)

In [65]:
'Good Job'.istitle(), 'Good job'.istitle()

(True, False)

In [66]:
'show 123'.isspace(), ' '.isspace(), 'show'.isspace()

(False, True, False)

In [67]:
'show123'.strip(), 'show123'.lstrip(), 'show123'.rstrip()

('show123', 'show123', 'show123')

In [68]:
'Good, Job'.partition(', ')

('Good', ', ', 'Job')

In [69]:
'弟子規 聖人訓 首孝弟 次謹信'.split(' ')

['弟子規', '聖人訓', '首孝弟', '次謹信']

In [70]:
price='100.15' 
cur='NT$'
price=cur + '100.15'
price.ljust(13,' '), price.rjust(13,'0'), price.zfill(13)

('NT$100.15    ', '0000NT$100.15', '0000NT$100.15')

In [71]:
lis1=[30, 50, 99] 
lis1[0]

30

In [73]:
lis1[10]

IndexError: list index out of range

In [74]:
lis2=[10422152,'John','85.51']
score=lis2[2]
score

'85.51'

In [75]:
lis3=[[6, 3, 1], [5, 2, 4]]
total=lis3[0][0]+lis3[1][0]+lis3[0][1]+lis3[1][1]+lis3[0][2]+lis3[1][2]
total

21

In [76]:
lis1=list(range(5, 25, 5))
lis1[:]

[5, 10, 15, 20]

In [77]:
lis1[1]

10

In [78]:
lis1[-1]

20

In [79]:
lis1[1:]

[10, 15, 20]

In [80]:
lis1[:-1]

[5, 10, 15]

In [81]:
lis1[1:-1]

[10, 15]

In [82]:
lis1[::-1]

[20, 15, 10, 5]

In [83]:
lis1[1::2]

[10, 20]

In [84]:
lis1=[5,10,15,20]
lis1.append(25)
lis1

[5, 10, 15, 20, 25]

In [85]:
lis1.extend([30,35])
lis1

[5, 10, 15, 20, 25, 30, 35]

In [86]:
lis1.insert(0,0)
lis1

[0, 5, 10, 15, 20, 25, 30, 35]

In [87]:
lis1.remove(35)
lis1

[0, 5, 10, 15, 20, 25, 30]

In [88]:
a=lis1.pop(3)
b=lis1.pop()
a,b

(15, 30)

In [89]:
lis1.sort()
lis1

[0, 5, 10, 20, 25]

In [90]:
lis1.sort(reverse=True)
lis1

[25, 20, 10, 5, 0]

In [91]:
lis1.reverse()
lis1

[0, 5, 10, 20, 25]

In [92]:
lis2=lis1.copy()
lis2

[0, 5, 10, 20, 25]

In [93]:
lis2.clear()
lis2

[]

In [94]:
tup1=(1,3,5)
tup1[2]=100

TypeError: 'tuple' object does not support item assignment

In [95]:
tup2=('Ironman',('Swim', 1.5), ('Bike', 40), ('Race', 10))
tup2

('Ironman', ('Swim', 1.5), ('Bike', 40), ('Race', 10))

In [96]:
total= tup2[1][1]+ tup2[2][1]+ tup2[3][1]
total

51.5

In [97]:
tup3=('Sports')
type(tup3)

str

In [98]:
tup4=("Sports",)
type(tup4)

tuple

In [99]:
set1={1,3,5,'a'}
set1

{1, 3, 5, 'a'}

In [100]:
set2={1,3, 5, [2,4,6]}
set2

TypeError: unhashable type: 'list'

In [101]:
set3={1,1, 3, 5} 
set3

{1, 3, 5}

In [102]:
s={1,3,5,7,9} 
t={1,3,5}
t <= s, t.issubset(s)

(True, True)

In [103]:
s >= t, s.issuperset(t)

(True, True)

In [104]:
s.union(t), s | t

({1, 3, 5, 7, 9}, {1, 3, 5, 7, 9})

In [105]:
s.intersection(t), s&t

({1, 3, 5}, {1, 3, 5})

In [106]:
s.difference(t), s-t

({7, 9}, {7, 9})

In [107]:
s.add(11)
s

{1, 3, 5, 7, 9, 11}

In [108]:
s.add(1)
s

{1, 3, 5, 7, 9, 11}

In [109]:
s.remove(11)
s

{1, 3, 5, 7, 9}

In [110]:
s.remove(100)
s

KeyError: 100

In [111]:
s.discard(9)
s

{1, 3, 5, 7}

In [112]:
s.discard(100)
s

{1, 3, 5, 7}

In [113]:
a=s.pop()
a

1

In [114]:
a=s.pop()
a

3

In [115]:
s.clear()
s

set()

In [116]:
s.pop()

KeyError: 'pop from an empty set'

In [117]:
dic1={2330: ' 台積電 ', 3008: ' 大立光 ', 9999: ' 大盤指數 '}
dic1

{2330: ' 台積電 ', 3008: ' 大立光 ', 9999: ' 大盤指數 '}

In [118]:
dic1[2330]

' 台積電 '

In [119]:
dic1[9999]=' 台股指數 '
dic1

{2330: ' 台積電 ', 3008: ' 大立光 ', 9999: ' 台股指數 '}

In [120]:
dic1[1101]

KeyError: 1101

In [121]:
s={2357, 2498}
dic1=dict.fromkeys(s)
dic1

{2357: None, 2498: None}

In [122]:
dic1=dict.fromkeys(s, 100) 
dic1

{2357: 100, 2498: 100}

In [123]:
dic2={}
dic2=dic2.fromkeys(s, 200)
dic2

{2357: 200, 2498: 200}

In [124]:
value=dic2.get(2498)
value

200

In [125]:
dic2.items()

dict_items([(2498, 200), (2357, 200)])

In [126]:
dic2.keys()

dict_keys([2498, 2357])

In [127]:
dic2.values()

dict_values([200, 200])

In [128]:
dic2.setdefault(9999)
dic2

{2357: 200, 2498: 200, 9999: None}

In [129]:
dic2[9999]=7725 
dic2

{2357: 200, 2498: 200, 9999: 7725}

In [130]:
backup=dic2.copy() 
backup

{2357: 200, 2498: 200, 9999: 7725}

In [131]:
dic3=dic2.pop()

TypeError: pop expected at least 1 arguments, got 0

In [132]:
dic3=dic2.pop(2498) 
dic3

200

In [133]:
dic2

{2357: 200, 9999: 7725}

In [134]:
dic4=dic2.pop(2498)

KeyError: 2498

In [135]:
new={'00632R': 21.45}
dic2.update(new) 
dic2

{'00632R': 21.45, 2357: 200, 9999: 7725}

In [136]:
dic2.update({2357: 75}) 
dic2

{'00632R': 21.45, 2357: 75, 9999: 7725}

In [137]:
dic2['yyyy']=dic2.pop(9999) 
dic2

{'00632R': 21.45, 2357: 75, 'yyyy': 7725}

In [138]:
dic2['yyyy']=dic2.pop(9999)

KeyError: 9999

In [139]:
del backup[9999]
backup

{2357: 200, 2498: 200}

In [140]:
del dic3 
dic3

NameError: name 'dic3' is not defined

In [141]:
dic2.clear()
dic2

{}

In [142]:
str1='Good job'
tup1=(1, 1.5, 50, 50) 
lis1=[2, 40, 100, 100]
set1={3, 5, 7} 
dic1={10:'a', 20:'b'} 
len(str1), len(tup1), len(lis1), len(set1), len(dic1)

(8, 4, 4, 3, 2)

In [143]:
min(str1), min(tup1), min(lis1), min(set1), min(dic1)

(' ', 1, 2, 3, 10)

In [144]:
max(str1), max(tup1), max(lis1), max(set1), max(dic1)

('o', 50, 100, 7, 20)

In [145]:
tup9=('a', 1.5, 50, 50) 
lis9=['b', 40, 100, 100] 
max(tup9)

TypeError: '>' not supported between instances of 'float' and 'str'

In [146]:
min(lis9)

TypeError: '<' not supported between instances of 'int' and 'str'

In [147]:
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [148]:
sum(tup1), sum(lis1), sum(set1), sum(dic1)

(102.5, 242, 15, 30)

In [149]:
sorted(str1)

[' ', 'G', 'b', 'd', 'j', 'o', 'o', 'o']

In [150]:
sorted(str1, reverse=True)

['o', 'o', 'o', 'j', 'd', 'b', 'G', ' ']

In [151]:
sorted(tup1), sorted(lis1), sorted(set1), sorted(dic1)

([1, 1.5, 50, 50], [2, 40, 100, 100], [3, 5, 7], [10, 20])

In [152]:
str1.index('o'), tup1.index(1.5), lis1.index(100)

(1, 1, 2)

In [153]:
set1.index(5)

AttributeError: 'set' object has no attribute 'index'

In [154]:
set1.index(5)

AttributeError: 'set' object has no attribute 'index'

In [155]:
str1.count('o'), tup1.count(1.5), lis1.count(100)

(3, 1, 2)

In [156]:
set1.count(5)

AttributeError: 'set' object has no attribute 'count'

In [157]:
dic1.count('a')

AttributeError: 'dict' object has no attribute 'count'

In [158]:
'o' in str1, 1 in tup1, 100 in lis1, 5 in set1, 10 in dic1

(True, True, True, True, True)

In [159]:
'a' in dic1

False

In [160]:
len(dic1) is 2, set1 is dic1

(True, False)

In [161]:
str2=str1 
tup2=tup1 
lis2=lis1
set2=set1 
dic2=dic1
str2 is str1, tup2 is tup1, lis2 is lis1, set2 is set1, dic2 is dic1

(True, True, True, True, True)

In [162]:
str1+str2, str1*2

('Good jobGood job', 'Good jobGood job')

In [163]:
tup1+tup2, tup2*2

((1, 1.5, 50, 50, 1, 1.5, 50, 50), (1, 1.5, 50, 50, 1, 1.5, 50, 50))

In [164]:
lis1+lis2, lis2*2

([2, 40, 100, 100, 2, 40, 100, 100], [2, 40, 100, 100, 2, 40, 100, 100])

In [165]:
set1+set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [166]:
dic1+dic2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [167]:
str1==str2, tup1>=tup2, lis1!=lis2, set1>set2

(True, True, False, False)

In [168]:
dic1==dic2, dic1!=dic2

(True, False)

In [169]:
dic1<=dic2

TypeError: '<=' not supported between instances of 'dict' and 'dict'